
# Created by https://www.gitignore.io/api/sass,visualstudiocode
# C9
.c9/*

### Sass ###
.sass-cache/
*.css.map

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/sass,visualstudiocode