@media (min-width: 900px) {
    .container-cadastro, form {
        display:flex;
    }
    .bloco1 {
        margin-left: 50px;
        flex: 1;
        width: 33%;
    }
    .bloco1 .form-item, .bloco1 .form-label {
        width: 80%;
    }
    .bloco2 {
        flex: 1;
        width: 33%;
    }
    .bloco2 .form-item, .bloco2 .form-label {
        width: 80%;
    }
    .bloco3 {
        flex: 1;
        width: 33%;
    }
    .bloco3 .form-item, .bloco3 .form-label {
        width: 80%;
    }
    .form-item {
        min-width: 320px;
    }
} /* FIM MEDIA QUERY */


@media (max-width: 898px) {
    .container-cadastro, form {
        
    }
    .form-group {
        width: 100%;
    }
    .form-item, .form-label {
        width: 80%;
    }
}

.form-label {
    color: rgb(116, 124, 129);
    text-align: left;
}
.form-item { 
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    margin: 0 0 0 14;
    padding: 14px;   
}
#btn-cadastro {
    background-color: rgb(213, 68, 68);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
    height: 50px;
    min-width: 180px;
}