body {
    background-color: rgb(241, 243, 244);
    color: rgb(116, 124, 129);
}
.checkout-container {
    background-color: rgb(255, 255, 255); 
    padding: 42px;
    line-height: 20px;
}
h2 {
    font-size: 28px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.form-group {
    display: block;
}
.form-label {
    display: block;
}
.form-item { 
    display: block;
}
