body {
    background-color: rgb(241, 243, 244);
    color: rgb(116, 124, 129);
}
.checkout-container {
    background-color: rgb(255, 255, 255); 
    padding: 42px;
    line-height: 20px;
}
h2 {
    font-size: 28px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.form-group {
    display: block;
}
.form-label {
    display: block;
    color: rgb(116, 124, 129);
    text-align: left;
}
.form-item { 
    display: block;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    margin: 0 0 0 14;
    padding: 14px;
    width: 350px;
}
.btn-form {
    background-color: rgb(100, 200, 70);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
    height: 50px;
    min-width: 125px;
    width: 15%;
    max-width: 250px;
}