.container-editar .lista {
	border-right: 1px solid #dbdbdb;
	padding-left:0;
}

.container-editar ul {
	list-style: none;
}

.container-editar a {
	text-decoration: none;
	padding: 5px 10px;
	color: black;
}

.container-editar ._barra{
	border-left: 2px solid transparent;
	display: block;
	font-size: 16px;
	line-height: 20px;
	padding: 16px 16px 16px 30px;
}
.container-editar ._barra:hover {
	border-left: 2px solid rgb(230, 230, 230);
}
.container-editar .is-active {
	font-weight: 600;
	border-left: 2px solid black;
}
.container-editar .is-active:hover {
	border-left: 2px solid black;
}
.container-editar{
	background-color: white;
    border: 1px solid #dbdbdb;
}

@media (min-width: 710px) {
	.container-editar {
		display:flex;
		flex-direction: row;
	}
	.container-editar aside {
		text-align: right;
		flex-grow: 1;
	}
}

@media (max-width: 709px) {
	#side_list {
		display: flex;
		
	}
	.container-editar ._barra {
		padding: 15px 15px 10px 20px;
	}
}
.container-editar form{
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 15px 0;
	font-size: 17px;
}

.container-editar input{
	margin: 5px 5px;
	flex-grow: 1;
}
.container-editar .form-group{
	flex-direction: row;
	display: flex;
}
.container-editar aside{
	padding: 5px 35px;
}


.container-editar input[type='text'], .container-editar input[type='password']{
	width: 100%;
	border: 1px solid rgb(200,200,200);
	outline: none;
}
.loading {
	height: 40px;
	width: 40px;
}