footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 150px;
    margin-top: 10px;    
    padding: 10px 5px;
    border-top: 1px solid rgba(140,140,140,0.4);
}
footer h4 {
    font-size: 20px;
}
footer p {
    font-size: 14px;
}
.footer_span_title * {
    display: inline-block;
}