body {
    background-color: white;
}
section {
    position:relative;
}
#section-pedidos {
    margin: 2rem 0;
}
.section-inner {
    margin: auto;
    background-color: white;
}
#section_news h1 {
    font-size:36px;
    font-weight:100;
    margin-bottom:30px
}
#pedidos-container {
    display:flex;
    width:100%;
    flex-wrap:wrap;
    padding: 10px 20px;
    border: 1px solid rgb(140,140,140,0.4);
    min-height: 400px;
}

.status_aceito {
    background-color: rgb(10, 180, 80) !important;
}
.status_pendente {
    background-color: orange !important;
}
.status_cancelado {
    background-color: rgb(200, 0, 10) !important;
}
.status_entregue {
    background-color: rgb(14, 76, 175) !important;
}

@media screen and (max-width:1200px) {
    .pedido-item {
        width:32.1%
    }
}
@media screen and (max-width:910px) {
    .pedido-item {
        width:48%
    }
    .pedido:nth-child(3n-1) {
        margin:12px 0
    }
    .pedido-item:nth-child(odd) {
        margin-right:2%
    }
    #story_text {
        position:absolute;
        bottom:20px;
        right:20px;
        background:#002a3a;
        padding:20px
    }
}
@media screen and (max-width:650px) {
    .pedido-item {
        width:100%
    }
    #pedidos-container {
        flex-direction:column
    }
    .pedido-item:nth-child(2) {
        margin:15px 0 0
    }
    #story_text {
        width:100%;
        position:static
    }
}

.ellipsis {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}   
.left {
    float: left;
}
.right {
    float: right;
}

.no-pedidos {
    text-align: center;
    padding: 150px;
    margin: 0 auto;
    font-size: 24px;
    color: #888;
}

a {
    text-decoration: none;
    color: rgb(70,70,70);
}
a:hover {
    text-decoration: none;
    color: rgb(70,70,70);
}
.pedido-item:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.pedido-item {
    overflow: hidden;
    width: 45%;
    height: 150px;
    margin: 10px 1%;
    background-color: rgb(252,252,252);
    transition: transform 0.1s ease 0s;
}
.pedido-item, .status-container {
    border: 1px solid rgb(140,140,140,0.4);
}

    
.pedido-img {
    width: 100%;
}
.pedido-info {
    margin-left: 10px;
}
.pedido-info p {
        padding: 0;
        margin: 5px;
}
p.pedido-title {
        font-weight: 600;
}
p.pedido-date {
    font-weight: 600;
    color: rgb(140,50,40);
}
.status-container {
    border-radius: 6px;
    width: 100px;
}
.status {
    margin: 0;
    padding: 5px 6px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 600;
}