.pedido-container {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    height: 70%;
    color: rgb(20, 20, 20);
}

.lista-pedidos li{
    list-style: none;
}

.item-pedido {
    font-size: 16px;
    display: block;
    height: 100px;
}

.aguardando{
    color: red;
}

.aceito{
    color: #f4b942;
}