body {
    background-color: rgb(241, 243, 244);
    color: rgb(116, 124, 129);
}
.container-login {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.signin {
    background-color: rgb(255, 255, 255);
    margin: 42px 0 0 0;
    max-width: 450px;
    padding: 42px;
    line-height: 20px;
    height: 350px;
}
h2 {
    font-size: 28px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
}
form {
    margin-top: 40px;
}

form * {
    display: block;
    font-size: 15px;
    margin: 5px;
}
.form-label {
    color: rgb(116, 124, 129);
    text-align: left;
}
.form-item { 
    border: 1px solid rgb(238, 238, 238);
    border-radius: 3px;
    margin: 0 0 0 14;
    padding: 14px;
    width: 380px;
}
.btn-form {
    background-color: rgb(213, 68, 68);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
    height: 50px;
    min-width: 180px;
}