html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.container-fluid {
    margin: 0 !important;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
    background-color: #fafafa;
    padding-bottom: 150px;;
}

.main-site {
    height: 100%;
    padding: 10px;
    background-color: rgb(250,250,253);
}

.side-menu {
    display: inline-block;
    position: relative;
    width: 205px;
    max-height: 350px;
    border-radius: 5px;
    vertical-align: top;
}
.side-menu::after {
    margin-bottom: 20px;
}
.list-group * {
    color: rgb(140, 70, 60);
}
.entrega-button {
    padding: 7px 15px; 
    border-radius: 2px;
    color: rgb(255,255,255) !important;
    border-bottom: 2px solid rgb(230,230,230);
}

.perfil-container {
    height: 100%;
    background-color: white;
    border: 1px solid rgb(230,230,230, 0.8);
}

/* ============== */
h2.title * {
    color: rgb(40,40,40);
}
.title {
    position: relative;
    padding-bottom: 10px;
}
.title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 300px;
    border-bottom: 2px solid rgb(20,20,20);
    content: "";
}

.pedidos-wrapper {
    padding: 20px 0 0 15px;
}

.card {
    cursor: pointer;
    width: 18rem;
}
.card:hover {
    box-shadow: 1px 1px 5px -2px rgba(150, 150, 150, 0.60);
    transition: box-shadow 0.2s ease-in-out;
}
@media (max-width: 971px) {
    .card {
        width: 25rem;
    }
}
@media (max-width: 895px) {
    .card {
        margin: 0 auto;
        width: 35rem;
    }
}

.form-main {
    padding: 10px;
}

.text-appentrega-light {
    color: rgb(221, 198, 175);
}
.text-appentrega {
    color: rgb(160, 99, 78);
}
.bg-appentrega-light {
    background-color: rgb(221, 198, 175);
}
.bg-appentrega {
    background-color: rgb(160, 89, 78);
}
.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(230,230,230,0.9);
    background-color: white;
}
.nav-toggle {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 50%;
}
.nav-toggle:hover {
    background-color: rgb(230,230,230,0.4); 
} .nav-toggle:active {
    background-color: rgb(210,210,210,0.4); 
}

.nav-item, .nav-item a{
    display: inline-block;
    margin: 0 5px;
}
.nav-item a:hover {
    text-decoration: none;
    color: rgb(189, 115, 69);    
}

.navbar-logo {
    line-height: 65px;
}
.logo h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.navbar-logo img {
    width: 45px;
    height: 45px;
}
#sidebar-main {
    width: 98.7vw; 
    height: 100%; 
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(140,140,150, 0.4);
}
.card-header {
    border-bottom: 0;
}
.card, .card-header, .card-body {
    background-color: rgb(255,255,255);
}

.sb-hidden {
    transform: translateX(-100vw); 
}
.sb-active {
    display: block;
    transform: translateX(0vw); 
}

.perfil-sidebar {
    width: 230px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 10px;
    border-right: 1px solid rgba(140,140,150, 0.4);
    box-shadow: 1px 1px 5px -2px rgba(150, 150, 150, 0.60);
}

.perfil-img {
    width: 110px;
    height: 100px; 
    border-radius: 50%;
}

.perfil-name {
    
}

.perfil-conteudo {
    height: 500px;
    width: 300px;
}
.sidebar-main .list-group-item {
    background-color: rgba(225,115,104, 0.3);
    color: white;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 150px;
    margin-top: 10px;    
    padding: 10px 5px;
    border-top: 1px solid rgba(140,140,140,0.4);
}
footer h4 {
    font-size: 20px;
}
footer p {
    font-size: 14px;
}
.footer_span_title * {
    display: inline-block;
}