*, *::before, *::after {
    box-sizing: inherit;
}

.logo{
height: 25px;
}

html {
    box-sizing: border-box;
}
.container, .container-fluid{
    margin-top: 20px;
    padding-top: 20px;
    background-color: transparent;
    min-height: 400px;
}
.nav-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(99, 35, 188, 0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(99, 35, 188, 0.3);;
    box-shadow: 0px 1px 1px 0px rgba(99, 35, 188, 0.3);;
}
.nav-item {
    display: inline-block;
    list-style: none;
}
a, a:hover, .nav-link:hover, a:active, .nav-link:active {
    color: rgb(100, 35, 190);   
}
.nav-link {
    color: rgb(130, 130, 130);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
}
.nav-link:hover {
    color: rgb(100, 35, 190);
    text-decoration: none;
}

footer {
    margin-top: 70px;
    padding: 10px;
    width: 100%;
}
.form-label {
    color: rgb(116, 124, 129);
    text-align: left;
}
.form-item {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    margin: 0 0 0 14;
    padding: 10px 15px;
    width: 350px;
}
.button {
    background-color: rgb(255,255,255);
    border: 1px solid transparent;
    border-radius: 3px;
    color: rgb(215, 70, 70);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    outline: none;

    height: 45px;
    min-width: 125px;
    width: 15%;
    max-width: 250px;
    margin-top: 20px;
}
.button-white {
    background-color: rgb(255,255,255);
    border: 1px solid rgb(215, 70, 70);
    color: rgb(215, 70, 70);
    padding: 10px 20px;
}
.button-white {
    text-decoration: none;
}
.button-green {
    background-color: rgb(100, 200, 70);
    color: white;
}
.button-green:hover {
    color: white;
    background-color: rgb(105, 205, 80);
}

.button-red {
    background-color: rgb(215, 70, 70);
    color: white;
}
.button-red:hover {
    background-color: rgb(220, 75, 75);
    color: white;
}

.button-blue {
    background-color: rgb(70, 70, 215);
    color: white;
}
.button-blue:hover {
    background-color: rgb(75, 75, 220);
    color: white;
}
.button-purple {
    background-color: rgb(100, 35, 190);
    color: white;
}
.button-purple:hover {
    background-color: rgb(105, 40, 195);
}
textarea {
    resize: none;
}
.title-home {
    display: flex;
    justify-content: center;
}
.img-home {
    width: 100%;
}
.item-pedido{
    font-size: x-large;
    padding: 20px;
    margin-left: 30px;
    background: white;
}
p.muted{
    color: #993399;
}

.pedido{
    color: #003399;
}