html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.container-fluid {
    margin: 0 !important;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
    background-color: #fafafa;
    padding-bottom: 150px;;
}
body > *{
    font-weight: 600;
}

.main-site {
    height: 100%;
    padding: 10px;
    background-color: rgb(250,250,253);
}

.side-menu {
    display: inline-block;
    position: relative;
    width: 205px;
    max-height: 350px;
    border-radius: 5px;
    vertical-align: top;
}
.side-menu::after {
    margin-bottom: 20px;
}
.list-group * {
    color: rgb(140, 70, 60);
}
.entrega-button {
    padding: 7px 15px; 
    border-radius: 2px;
    color: rgb(255,255,255) !important;
    border-bottom: 2px solid rgb(230,230,230);
}

.perfil-container {
    height: 100%;
    background-color: white;
    border: 1px solid rgb(230,230,230, 0.8);
}

/* ============== */
h2.title * {
    color: rgb(40,40,40);
}
.title {
    position: relative;
    padding-bottom: 10px;
}
.title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 300px;
    border-bottom: 2px solid rgb(20,20,20);
    content: "";
}

.pedidos-wrapper {
    padding: 20px 0 0 15px;
}

.card {
    cursor: pointer;
    width: 18rem;
}
.card:hover {
    box-shadow: 1px 1px 5px -2px rgba(150, 150, 150, 0.60);
    transition: box-shadow 0.2s ease-in-out;
}
@media (max-width: 971px) {
    .card {
        width: 25rem;
    }
}
@media (max-width: 895px) {
    .card {
        margin: 0 auto;
        width: 35rem;
    }
}

.form-main {
    padding: 10px;
}

.text-appentrega-light {
    color: rgb(221, 198, 175);
}
.text-appentrega {
    color: rgb(160, 99, 78);
}
.bg-appentrega-light {
    background-color: rgb(221, 198, 175);
}
.bg-appentrega {
    background-color: rgb(160, 89, 78);
}